.animation {
    margin-top: -140px;
}

.animation:hover {
    animation: shake .1s ease-in-out .1s infinite alternate;
}

@media (max-width: 767px) {
    .animation {
        margin-top: 0;
    }
    .animation:hover {
        animation: none;
    }
}

@keyframes shake {
    from {
        transform: rotate(15deg);
    }
    to {
        transform: rotate(-15deg);
        transform-origin: center center;
    }
}
