:root {
  /*Colors*/
  --background: #212121;
  --white: #fff;
  --yellow: #e1ec83;
  --yellow-rgba: rgba(225, 236, 131, 0.1);
  --blue: #7a91f1;
  --accent-background: #904e95;
  --accent-text: #ffc371;
  --error: #ff2b2b;
  --error-input: rgba(245, 43, 43, 0.1);
  
  /*Fonts sizes*/
  --letter-space: 0.8;
  --font-size-main: 24px;
  --font-footer: 20px;

  --h1-size: 65px;
  --h2-size: 45px;

  --button-size: 20px;
  
  /*Fonts weight*/
  --font-weight-main: 400;
  --font-weight-textarea: 500;

  --h1-weight: 700;
  --h2-weight: 700;
  
  /*Fonts*/
  --font-inter: 'Vollkorn', sans-serif; 

  /*Animation*/
  --main-transition: 0.3s ease-in-out;
  
  /*Indents*/
  --padding-nav: 18px 0;
  --padding-nav-scrolled: 5px 0;
  --padding-nav-link: 0 25px;
  --padding-banner: 200px 0 100px 0;
  --padding-contacts: 60px 0 200px 0;
  --padding-bottom-timeline: 150px;
  --padding-bottom-banner: 20px;

  --margin-icon: 14px;
  --margin-icon-a: 6px;
  --margin-bottom-banner: 20px;
  --margin-h2: 30px;
  --margin-top-contact: 50px;

  --line-height: 1.2;

  /*Width*/
  --icon-linkedin: 42px;
  --p-banner: 96%;
  
  /*Height*/
  --icon-linkedin: 42px;

  /*Opacity*/
  --opacity-main: 0.8
}

@font-face {
  font-family: 'Vollkorn';
  src: url('./assets/fonts/Vollkorn-VariableFont_wght.woff') format('woff'),
       url('./assets/fonts/Vollkorn-Italic-VariableFont_wght.woff') format('woff');
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  background-color: var(--background) !important;
  
  color: var(--white) !important;
  font-family: var(--font-inter) !important;
  font-size: var(--font-size-body);
  
  width: 100%;
  margin: 0 auto;
  text-decoration: none;
  overflow-x: hidden;
  position: relative;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}
